* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: #F0F0F0;
    font-family: 'Rubik', sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 40px;
    margin-top: 120px;
}

.card {
    background-color: #FFFFFF;
    height: 180px;
    width: 180px;
    margin-bottom: 60px;
    margin-right: 40px;
    position: relative;
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0 , 0 , 0.05);
}

.card-10 {
    flex-grow: 1;
}

.box {
    margin: 0 8px 0 8px;
    height: 40px;
    border-radius: 8px;
}

.box-item-top {
    margin-top: 20px;
    margin-bottom: 10px;
    background: #F17D7D;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-item-mid {
    background: #FFE600;
    font-weight: 400px;
    font-size: 10px;
    font-style: normal;
}

.box-item-last {
    margin-top: 10px;
    margin-bottom: 20px;
    background: #46EEC6;
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #050505;
}

.card:nth-child(even) .box-item-mid {
    padding: 8px 12px;
}

.card:nth-child(odd) .box-item-mid {
    padding: 14px 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card-10 .box-item-mid {
    display: flex;
    align-items: center;
}

/* Creating Line */

.box-item-top::before {
    content: '';
    border: 1px solid #8E8C8C;
    width: 40px;
    position: absolute;
    top: 89px;
    right: -40px;
    border-left: none;
    border-bottom: none;
    border-right: none;
}

.box-item-top::after {
    content: '';
    width: 20px;
    height: 120px;
    position: absolute;
    top: -30px;
    left: -20px;
}

.box-item-last::before {
    content: '';
    position: absolute;
    bottom: -30px;
    right: -40px;
}

@media only screen and (min-width: 1840px) and (max-width: 2060px) {
    .card-8 .box-item-top::before {
        border: 1px solid #8E8C8C;
        height: 120px;
        border-left: none;
        border-bottom: none;
    }

    .card-9 .box-item-top::after {
        border: 1px solid #8E8C8C;
        border-right: none;
        border-top: none;
    }

    .card-8 .box-item-last::before {
        border: 1px solid #8E8C8C;
        border-right: none;
        border-top: none;
        border-left: none;
        width: 1780px;
    }
}

@media only screen and (min-width: 1620px) and (max-width: 1839px) {
    .card-7 .box-item-top::before {
        border: 1px solid #8E8C8C;
        height: 120px;
        border-left: none;
        border-bottom: none;
    }

    .card-8 .box-item-top::after {
        border: 1px solid #8E8C8C;
        border-right: none;
        border-top: none;
    }

    .card-7 .box-item-last::before {
        border: 1px solid #8E8C8C;
        border-top: none;
        border-left:none;
        border-right: none;
        width: 1560px;
    }
}

@media only screen and (min-width:1400px) and (max-width: 1619px) {
    .card-6 .box-item-top::before {
        border: 1px solid #8E8C8C;
        height: 120px;
        border-left: none;
        border-bottom: none;
    }

    .card-7 .box-item-top::after {
        border: 1px solid #8E8C8C;
        border-right: none;
        border-top: none;
    }

    .card-6 .box-item-last::before {
        border: 1px solid #8E8C8C;
        border-top: none;
        border-left:none;
        border-right: none;
        width: 1340px;
    }
}

@media only screen and (min-width: 1180px) and (max-width: 1399px) {
    .card-5 .box-item-top::before {
        border: 1px solid #8E8C8C;
        height: 120px;
        border-left: none;
        border-bottom: none;
    }

    .card-6 .box-item-top::after {
        border: 1px solid #8E8C8C;
        border-right: none;
        border-top: none;
    }

    .card-5 .box-item-last::before {
        border: 1px solid #8E8C8C;
        border-top: none;
        border-left:none;
        border-right: none;
        width: 1120px;
    }
}

@media only screen and (min-width: 960px) and (max-width: 1179px) {
    .card-4 .box-item-top::before {
        border: 1px solid #8E8C8C;
        height: 120px;
        border-left: none;
        border-bottom: none;
    }

    .card-8 .box-item-top::before {
        border: 1px solid #8E8C8C;
        height: 120px;
        border-left: none;
        border-bottom: none;
    }

    .card-5 .box-item-top::after {
        border: 1px solid #8E8C8C;
        border-right: none;
        border-top: none;
    }

    .card-9 .box-item-top::after {
        border: 1px solid #8E8C8C;
        border-right: none;
        border-top: none;
    }

    .card-4 .box-item-last::before {
        border: 1px solid #8E8C8C;
        border-top: none;
        border-left:none;
        border-right: none;
        width: 900px;
    }

    .card-8 .box-item-last::before {
        border: 1px solid #8E8C8C;
        border-top: none;
        border-left:none;
        border-right: none;
        width: 900px;
    }
}

@media only screen and (min-width: 755px) and (max-width: 959px) {
    .card-3 .box-item-top::before {
        border: 1px solid #8E8C8C;
        height: 120px;
        border-left: none;
        border-bottom: none;
    }

    .card-6 .box-item-top::before {
        border: 1px solid #8E8C8C;
        height: 120px;
        border-left: none;
        border-bottom: none;
    }

    .card-9 .box-item-top::before {
        border: 1px solid #8E8C8C;
        height: 120px;
        border-left: none;
        border-bottom: none;
    }

    .card-4 .box-item-top::after {
        border: 1px solid #8E8C8C;
        border-right: none;
        border-top: none;
    }

    .card-7 .box-item-top::after {
        border: 1px solid #8E8C8C;
        border-right: none;
        border-top: none;
    }

    .card-10 .box-item-top::after {
        border: 1px solid #8E8C8C;
        border-right: none;
        border-top: none;
    }

    .card-3 .box-item-last::before {
        border: 1px solid #8E8C8C;
        border-top: none;
        border-left:none;
        border-right: none;
        width: 680px;
    }

    .card-6 .box-item-last::before {
        border: 1px solid #8E8C8C;
        border-top: none;
        border-left:none;
        border-right: none;
        width: 680px;
    }

    .card-9 .box-item-last::before {
        border: 1px solid #8E8C8C;
        border-top: none;
        border-left:none;
        border-right: none;
        width: 680px;
    }
}


@media only screen and (min-width: 520px) and (max-width: 754px) {
    .card-2 .box-item-top::before {
        border: 1px solid #8E8C8C;
        height: 120px;
        border-left: none;
        border-bottom: none;
    }

    .card-4 .box-item-top::before {
        border: 1px solid #8E8C8C;
        height: 120px;
        border-left: none;
        border-bottom: none;
    }

    .card-6 .box-item-top::before {
        border: 1px solid #8E8C8C;
        height: 120px;
        border-left: none;
        border-bottom: none;
    }

    .card-8 .box-item-top::before {
        border: 1px solid #8E8C8C;
        height: 120px;
        border-left: none;
        border-bottom: none;
    }

    .card-3 .box-item-top::after {
        border: 1px solid #8E8C8C;
        border-right: none;
        border-top: none;
    }

    .card-5 .box-item-top::after {
        border: 1px solid #8E8C8C;
        border-right: none;
        border-top: none;
    }

    .card-7 .box-item-top::after {
        border: 1px solid #8E8C8C;
        border-right: none;
        border-top: none;
    }

    .card-9 .box-item-top::after {
        border: 1px solid #8E8C8C;
        border-right: none;
        border-top: none;
    }

    .card-2 .box-item-last::before {
        border: 1px solid #8E8C8C;
        border-top: none;
        border-left:none;
        border-right: none;
        width: 460px;
    }

    .card-4 .box-item-last::before {
        border: 1px solid #8E8C8C;
        border-top: none;
        border-left:none;
        border-right: none;
        width: 460px;
    }

    .card-6 .box-item-last::before {
        border: 1px solid #8E8C8C;
        border-top: none;
        border-left:none;
        border-right: none;
        width: 460px;
    }

    .card-8 .box-item-last::before {
        border: 1px solid #8E8C8C;
        border-top: none;
        border-left:none;
        border-right: none;
        width: 460px;
    }
}

@media only screen and (max-width: 534px) {
    .card-1 .box-item-top::before {
        border: 1px solid #8E8C8C;
        height: 120px;
        border-left: none;
        border-bottom: none;
    }

    .card-2 .box-item-top::before {
        border: 1px solid #8E8C8C;
        height: 120px;
        border-left: none;
        border-bottom: none;
    }

    .card-3 .box-item-top::before {
        border: 1px solid #8E8C8C;
        height: 120px;
        border-left: none;
        border-bottom: none;
    }

    .card-4 .box-item-top::before {
        border: 1px solid #8E8C8C;
        height: 120px;
        border-left: none;
        border-bottom: none;
    }

    .card-5 .box-item-top::before {
        border: 1px solid #8E8C8C;
        height: 120px;
        border-left: none;
        border-bottom: none;
    }

    .card-6 .box-item-top::before {
        border: 1px solid #8E8C8C;
        height: 120px;
        border-left: none;
        border-bottom: none;
    }

    .card-7 .box-item-top::before {
        border: 1px solid #8E8C8C;
        height: 120px;
        border-left: none;
        border-bottom: none;
    }

    .card-8 .box-item-top::before {
        border: 1px solid #8E8C8C;
        height: 120px;
        border-left: none;
        border-bottom: none;
    }

    .card-9 .box-item-top::before {
        border: 1px solid #8E8C8C;
        height: 120px;
        border-left: none;
        border-bottom: none;
    }

    .card-2 .box-item-top::after {
        border: 1px solid #8E8C8C;
        border-right: none;
        border-top: none;
    }

    .card-3 .box-item-top::after {
        border: 1px solid #8E8C8C;
        border-right: none;
        border-top: none;
    }

    .card-4 .box-item-top::after {
        border: 1px solid #8E8C8C;
        border-right: none;
        border-top: none;
    }

    .card-5 .box-item-top::after {
        border: 1px solid #8E8C8C;
        border-right: none;
        border-top: none;
    }

    .card-6 .box-item-top::after {
        border: 1px solid #8E8C8C;
        border-right: none;
        border-top: none;
    }

    .card-7 .box-item-top::after {
        border: 1px solid #8E8C8C;
        border-right: none;
        border-top: none;
    }

    .card-8 .box-item-top::after {
        border: 1px solid #8E8C8C;
        border-right: none;
        border-top: none;
    }

    .card-9 .box-item-top::after {
        border: 1px solid #8E8C8C;
        border-right: none;
        border-top: none;
    }

    .card-10 .box-item-top::after {
        border: 1px solid #8E8C8C;
        border-right: none;
        border-top: none;
    }

    .card-1 .box-item-last::before {
        border: 1px solid #8E8C8C;
        border-top: none;
        border-left:none;
        border-right: none;
        width: 240px;
    }

    .card-2 .box-item-last::before {
        border: 1px solid #8E8C8C;
        border-top: none;
        border-left:none;
        border-right: none;
        width: 240px;
    }

    .card-3 .box-item-last::before {
        border: 1px solid #8E8C8C;
        border-top: none;
        border-left:none;
        border-right: none;
        width: 240px;
    }

    .card-4 .box-item-last::before {
        border: 1px solid #8E8C8C;
        border-top: none;
        border-left:none;
        border-right: none;
        width: 240px;
    }

    .card-5 .box-item-last::before {
        border: 1px solid #8E8C8C;
        border-top: none;
        border-left:none;
        border-right: none;
        width: 240px;
    }

    .card-6 .box-item-last::before {
        border: 1px solid #8E8C8C;
        border-top: none;
        border-left:none;
        border-right: none;
        width: 240px;
    }

    .card-7 .box-item-last::before {
        border: 1px solid #8E8C8C;
        border-top: none;
        border-left:none;
        border-right: none;
        width: 240px;
    }

    .card-8 .box-item-last::before {
        border: 1px solid #8E8C8C;
        border-top: none;
        border-left:none;
        border-right: none;
        width: 240px;
    }

    .card-9 .box-item-last::before {
        border: 1px solid #8E8C8C;
        border-top: none;
        border-left:none;
        border-right: none;
        width: 240px;
    }
}


/* CSS FOR BALL */

.ball::after{
    content: '';
    background: linear-gradient(180deg, rgba(248, 178, 62, 0.984844) 0%, rgba(255, 230, 0, 0.97) 100%);
    position: absolute;
    top: 80px;
    right: -60px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}


